body {
	font-family: 'Noto Sans TC' , sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC' , sans-serif;	
}

.subheading {
	font-family: 'Noto Sans TC' , sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .subheading{
	text-transform: none;
}
h1, .h1 {
	font-size: 5rem;
}

p.lead {
	font-size: 1.2;
}

.bg-primary {
	background-color: #d0b001!important;
	background-image: url(../assets/img/star.jpg);
}

.text-primary {
	color: #d0b001!important;
}

a {
	color: #d0b001;
}

.navbar-nav .nav-item .nav-link {
	color: #d0b001;
}

<style>
body {
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>