body {
	font-family: 'Noto Sans TC' , sans-serif;
	background: #ffffff url(../assets/img/1.jpg) no-repeat fixed right;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC' , sans-serif;
}

.subheading {
	font-family: 'Noto Sans TC' , sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .subheading{
	text-transform: none;
	color: black;
}
h1, .h1 {
	font-size: 5rem;
}

p.lead {
	font-size: 1.2rem;
}

.bg-primary {
	background-color: #0f4c81!important;
	background-image: url(../assets/img/o.jpg);
}

.text-primary {
	color: #0f4c81!important;
}

a {
	color: #0f4c81;
}

.navbar-nav .nav-item .nav-link {
	color: cornflowerblue;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #0f4c81;
	font-size: 0.9rem;
}
